config record
	option proto		tcp
	option enabled		0
	
config record
	option proto		udp
	option enabled		0
	
config record
	option proto		icmp
	option enabled		0
	
# config record
#	option rootdir		/tmp # root directory for log files
#	option interval		60 # log rotation in minutes
#	option proto		icmp # intercepted protocol
#	option entries		1000 # local buffer size
#	option enabled		0
